# Rust
/target/
**/*.rs.bk

# Node
node_modules/
web/dist/
web/.vite/
web/pnpm-lock.yaml
web/pnpm-workspace.yaml

# Database
*.db
*.db-wal
*.db-shm

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
